* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0px;
  }

#conteneur_principale {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    height: 100%;

    background-color: black;
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#conteneur_formulaire {
    width: 500px;
    padding: 20px;
    border:0;
    border-radius:10px;
    box-shadow:0 0 15px 4px rgba(56, 56, 56, 0.4);
    background-color: rgba(255,255,255,0.8);
}

.texte_centre {
    text-align: center;
}



